# --- Base de donnees ---
DB_NAME=notes_db
DB_USERNAME=postgres
DB_PASSWORD=Mentalist1986

# --- Securite ---
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# --- Ports exposes sur la machine hote ---
ANGULAR_PORT=4204
REACT_PORT=4205
API_PORT=8082
DB_PORT_HOST=5434

# --- Journalisation ---
LOGGING_LEVEL_ROOT=INFO

# --- Mail ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=